.header{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height:80px;
        background:#ffffff;
        box-shadow: 1px -4px 31px;
        z-index:4;
    .inner-header{
            padding:20px 0;
            .logo{
                 font-size:34px;
                 color:#0000ff;
                 font-family:sans-serif;
            }
            .search-input{
                width:100%;
                padding:15px;
                border-radius: 5px;
                font-size:14px;
            }
    } 
}

// Loader
.loader-image{
    background-image: url('https://app.visibly.io/img/visiblyLoader.gif');
    height:10px;
    width:100%;
    border-radius: 10px;
    margin-bottom: 10px;
    background-size:cover;
 }
 .description.loader-image{
   width:300px;
 }
 .url.loader-image{
     width:100px;
 }