.main-Wrapper {
  .news-widget {
    .news-form-wrapper {
      width: 400px;
      border: 1px solid #808080ab;
      margin: 100px auto;
      box-shadow: 1px 1px 11px #808080ab;
      padding: 30px;
    }
  }
}
